{%load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'reviews/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/css/program_reviews.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/css/add_reviews.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/css/all_reviews.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
     <a href="{% url 'home' %}" class="home-icon" title="Главная страница">
        <i class="fa fa-home"></i>  <!-- Иконка Home -->
      </a>
      <ul class="nav-links">
        <li><a href="{% url 'records:records' %}">Рекорды</a></li>
        <li><a href="{% url 'exercise_list' %}">Упражнения</a></li>
        <li><a href="{% url 'workout_list' %}">Программы</a></li>
        <li><a href="{% url 'all_reviews' %}">Отзывы</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
      </ul>
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="profile-icon" title="Личный профиль">
          <i class="fa fa-user"></i>
        </a>
      {% else %}
        <a href="{% url 'login' %}" class="profile-icon" title="Войти">
          <i class="fa fa-user"></i>
        </a>
      {% endif %}
      <!-- Кнопка для мобильной версии -->
      <div class="menu-icon" id="menu-icon">
        <i class="fa fa-bars"></i>
      </div>
      <!-- Выпадающее меню -->
      <ul class="dropdown-menu" id="dropdown-menu">
        <li><a href="{% url 'home' %}">Главная страница</a></li>
        <li><a href="{% url 'records:records' %}">Рекорды</a></li>
        <li><a href="{% url 'exercise_list' %}">Упражнения</a></li>
        <li><a href="{% url 'workout_list' %}">Программы</a></li>
        <li><a href="{% url 'all_reviews' %}">Отзывы</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
      </ul>
    </nav>
  </header>

  <main>
      {% block content %}
      {% endblock %}
  </main>

  <footer>
    <nav>
      <ul>
        <li><a href="{% url 'records:records' %}">Рекорды</a></li>
        <li><a href="{% url 'exercise_list' %}">Упражнения</a></li>
        <li><a href="{% url 'workout_list' %}">Программы</a></li>
        <li><a href="{% url 'all_reviews' %}">Отзывы</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
      </ul>
    </nav>
    <p>Поддержка: <a href="mailto:gromov@gmail.com">gromov@gmail.com</a></p>
  </footer>

  <script>
    // Скрипт для открытия/закрытия выпадающего меню
    document.getElementById('menu-icon').addEventListener('click', function() {
      var menu = document.getElementById('dropdown-menu');
      menu.classList.toggle('active');
    });
  </script>
</body>
</html>