{% extends 'main/layout.html' %}
{% load static %}

{% block title %}FAQ - Часто задаваемые вопросы{% endblock %}

{% block content %}
<div class="faq-container">
    <h1>Часто задаваемые вопросы</h1>
    <div class="faq-list">
        <div class="faq-item">
            <h2 class="faq-question">Как начать заниматься по программе?</h2>
            <p class="faq-answer">Выберите подходящую программу тренировок из нашего каталога, зарегистрируйтесь на сайте и добавьте её в свой список тренировок. Следуйте инструкциям и трекьте прогресс в личном кабинете.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">Можно ли менять программу тренировок?</h2>
            <p class="faq-answer">Да, вы можете менять программу в любое время. Просто перейдите в раздел "Личный кабинет", удалите выбранную ранее программу, после перейдите в раздел "Программы" и выберите новую программу.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">Как отслеживать прогресс?</h2>
            <p class="faq-answer">Вы можете отслеживать свои результаты в разделе "Личный кабинет", добавляя выполненные тренировки и записывая свои достижения.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">Есть ли поддержка диет и питания?</h2>
            <p class="faq-answer">Нет.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">Как связаться с поддержкой?</h2>
            <p class="faq-answer">Внизу сайта указана электронная почта для обратной связи.</p>
        </div>
    </div>
</div>
{% endblock %}
